#pr {
    background-color: rgba(180, 160, 140, 1);
    box-shadow: 0 2px 5px rgba(100, 100, 100, 0.5);
    margin-top: -40px;
    min-height: 350px;
}

.one-pr {
    margin: auto;
    display: flex;
}

.last-pr {
    background-color: rgba(100, 80, 60, 1);
    box-shadow: 0 2px 5px rgba(100, 100, 100, 0.5);
}

.solo-imagep {
    width: 150px;
    box-shadow: 0 0.5px 5px rgba(100, 100, 100, 0.5);
    border-radius: 0 0 5px 5px;
    margin: 0 0 0 15px;
    /* float: left; */
}

.img-iconp {
    width: 50px;
    float: left;
    margin: 15px 20px 0 15px;
}

#pr h2 {
    font-size: 30px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    font-family: 'Bree Serif', serif;
    color: white;
}

#pr h3 {
    font-size: 25px;
    text-shadow: 0 1px 4px rgba(100, 100, 100, 0.6);
    font-family: 'Bree Serif', serif;
    margin: 20px 0 20px 20px;
    padding-bottom: 10px;
    color: white;
}

.infop {
    width: 333px;
    max-height: 150px;
    margin-left: -75px;
    box-shadow: 0 0.5px 5px rgba(100, 100, 100, 0.5);
    background-color: rgba(240, 240, 240, 0.9);
    border-radius: 10px;
    z-index: 99;
    position: relative;
}

.infop p {
    font-size: 21px;
    padding: 0 20px;
    font-family: 'Red Hat Display', sans-serif;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    padding: 10px;
    color: black;
    font-style: italic;
}


@media screen and (min-width: 1000px) {
    
    #pr {
        display: none;
    }

}